
@{
    ViewData["Title"] = "Saudacao";
}

<h2>Saudacao</h2>

<p>Olá da View Saudacao do Controller TesteTextBox.</p>
<p>Esta View só é chamada pelo método HTTP POST.</p>

<p>
    Mensagem na ViewBag: @ViewBag.Mensagem
</p>